<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    <display-name>Java Servlet 2.5 Web Application</display-name>

    <servlet>
        <servlet-name>CategoriaController</servlet-name>
        <servlet-class>Controlador.CategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcasController</servlet-name>
        <servlet-class>Controlador.MarcasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductoController</servlet-name>
        <servlet-class>Controlador.ProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PerecederosController</servlet-name>
        <servlet-class>Controlador.PerecederosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleadosController</servlet-name>
        <servlet-class>Controlador.empleadosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logiController</servlet-name>
        <servlet-class>Controlador.logiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventarioController</servlet-name>
        <servlet-class>Controlador.InventarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectController</servlet-name>
        <servlet-class>Controlador.SelectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoteController</servlet-name>
        <servlet-class>Controlador.LoteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proveedorController</servlet-name>
        <servlet-class>Controlador.proveedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cotizacionController</servlet-name>
        <servlet-class>Controlador.cotizacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ventaController</servlet-name>
        <servlet-class>Controlador.ventaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaController</servlet-name>
        <url-pattern>/CategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductoController</servlet-name>
        <url-pattern>/ProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleadosController</servlet-name>
        <url-pattern>/empleadosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectController</servlet-name>
        <url-pattern>/SelectController</url-pattern>
    </servlet-mapping>
    <servlet-name>LoteController</servlet-name>
    <url-pattern>/LoteController</url-pattern>
    <servlet-mapping>
        <servlet-name>MarcasController</servlet-name>
        <url-pattern>/MarcasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PerecederosController</servlet-name>
        <url-pattern>/PerecederosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logiController</servlet-name>
        <url-pattern>/logiController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventarioController</servlet-name>
        <url-pattern>/InventarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proveedorController</servlet-name>
        <url-pattern>/proveedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cotizacionController</servlet-name>
        <url-pattern>/cotizacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ventaController</servlet-name>
        <url-pattern>/ventaController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
